* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 60%;
  --header1: calc(3.5rem + 1vw);
  --header2: calc(3rem + 1vw);
  --header3: calc(2.2rem + 1vw);
  --header4: calc(2rem + 1vw);
  --text: calc(1.1rem + 1vw);
  --big: calc(4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  scroll-behavior: smooth;
}

/* fonts  */
@font-face{
    font-family: 'Ruhl-medium';
    src: url(./fonts/FrankRuhlLibre-Medium.ttf);
}

@font-face{
    font-family: 'Ruhl';
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face{
    font-family: 'Vibes';
    src: url(./fonts/GreatVibes-Regular.ttf);
}

/* Global Variables */
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
  font-weight: normal;
}
h4,
h5 {
  font-size: var(--header4);
}

ul{
    list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Ruhl', sans-serif;
}
h1{
    font-family: 'Vibes', sans-serif;
}

/* Nav section  */
.main-head{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0rem;
    min-height: 10vh;
}
#logo{
    flex: 1 1 20rem;
}
.nav-links{
    display: flex;
    align-items: center;
    flex: 1 1 20rem;
    justify-content: space-around;
}

/* hero section  */
.hero{
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.hero-intro{
    flex: 4 1 40rem;
    text-align: center;
}
.hero-intro p{
    padding: 2.5rem 5rem;
}
.hero-intro h2{
    padding: 1.5rem;
}
.hero-intro a{
    border: 3px solid black;
    padding: 1rem 4rem;
}
.hero-image{
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
}
.hero-image img{
    width: 500px;
}
.hero-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Section  */
.about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.about-text{
    background: var(--background-color);
    color: white;
    flex: 2 1 40rem;
    justify-content: space-around;
}
.about-text div{
    padding: 2rem 6rem;
}
.about-text h3{
    font-family: "Ruhl-medium";
    padding: 1rem 0rem;
}
.about-text h2{
    font-family: "Vibes";
    padding: 2rem;
}
.about-image{
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-image h5{
    letter-spacing: 2rem;
    position: absolute;
    top: 50%;
    left: 25%;
}

/* Gallery  */
.gallery{
    display: grid;
    min-height: 100vh;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}
.image-1{
    grid-column: 1/3;
}
.image-2{
    grid-column: 3/4;
    grid-row: 1/3;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-header{
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    background-color: var(--background-color);
    left: 50%;
    padding: 2rem 5rem;
    transform: translate(-50%,-50%);
}

/* contact section  */
.contact{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}
.form-wrapper{
    flex:  3 1 40rem;
}
.form-wrapper h2{
    padding: 3rem ;
}

.form-wrapper span{
    font-size: var(--big);
    color: var(--special-color);
}
.form-wrapper label{
    display: block;
}
.form-wrapper input{
    display: block;
    margin: 3rem 0rem;
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 1rem;
}
.form-wrapper button{
    padding: 1rem 8rem;
    background: var(--special-color);
    color: white;
    border: none;
}
.contact img{
    flex:  1 1 40rem;
    width: 300px;
}

/* footer section  */
footer{
    background: var(--background-color);
    color: white;
    display: flex;
    padding: 3rem 5%;
    align-items: center;
    flex-wrap: wrap;
}
footer ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}
footer h4{
    flex: 6 1 40rem;
    font-size: calc(1.6rem + 1vw);
}
footer ul li a img{
    width: 35px;
}

.burger, .menu-check{
    display: none;
}
/* Burger */
@media screen and (max-width: 842px){
    .hero{
        width: 100%;
    }
    .hero-intro p{
        padding: 5rem 3rem;
    }
    .burger{
        position: relative;
        display: block;
    }
    .burger span{
        padding: 0.2rem 2rem;
        background: var(--background-color);
        margin: 0.5rem 0rem;
        display: block ;
        transition: all 0.5s ease;
    }
    .nav-links a{
        color: white;
        font-size: var(--header3);
        text-decoration: underline;
    }
    .nav-links{
        background: var(--background-color);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        position: fixed; 
        top: 0;
        left: 100%;
        transition: transform 1s ease;
    }
    .menu-check{
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
        
    }
    .menu-check:checked + .nav-links{
        transform: translateX(-100%); 
    }
    .menu-check:checked ~ .burger span{
        background: white;
    }
    .menu-check:checked ~ .burger span:nth-child(1){
        transform: rotateZ(45deg) translateY(300%);
    }
    .menu-check:checked ~ .burger span:nth-child(2){
        opacity: 0;
    }
    .menu-check:checked ~ .burger span:nth-child(3){
        transform: rotateZ(-45deg) translateY(-300%);
    }

    /* About section  */
    .about-text div{
        padding: 2rem 2rem;
    }
    .gallery img{
        grid-row: auto;
        grid-column: auto;
    }
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .gallery-header{
        display: none;
    }
    .contact img{
        display: none;
    }
    footer ul{
        order: 1;
    }
    footer h4{
        order: 2;
        text-align: center;
        padding: 1rem;
    }
}

